<div style='width: 520px;'>
  <div id="map" style='width: 520px; height: 550px;'></div>
  <div id="slider" style='width: 500px;'></div>
  <div id="slider-value"></div>
</div>

<script>
    function initialize() {
        markers = <%=raw @pinga_markers.to_json %>;
        pingaMarkers = [];
        infos = [];


        var map_style = [{featureType:"water",elementType:"geometry",stylers:[{color:"#a2daf2"}]},{featureType:"landscape.man_made",elementType:"geometry",stylers:[{color:"#f7f1df"}]},{featureType:"landscape.natural",elementType:"geometry",stylers:[{color:"#d0e3b4"}]},{featureType:"landscape.natural.terrain",elementType:"geometry",stylers:[{visibility:"off"}]},{featureType:"poi.park",elementType:"geometry",stylers:[{color:"#bde6ab"}]},{featureType:"poi",elementType:"labels",stylers:[{visibility:"off"}]},{featureType:"poi.medical",elementType:"geometry",stylers:[{color:"#fbd3da"}]},{featureType:"poi.business",stylers:[{visibility:"off"}]},{featureType:"road",elementType:"geometry.stroke",stylers:[{visibility:"off"}]},{featureType:"road",elementType:"labels",stylers:[{visibility:"off"}]},{featureType:"road.highway",elementType:"geometry.fill",stylers:[{color:"#ffe15f"}]},{featureType:"road.highway",elementType:"geometry.stroke",stylers:[{color:"#efd151"}]},{featureType:"road.arterial",elementType:"geometry.fill",stylers:[{color:"#ffffff"}]},{featureType:"road.local",elementType:"geometry.fill",stylers:[{color:"black"}]},{featureType:"transit.station.airport",elementType:"geometry.fill",stylers:[{color:"#cfb2db"}]}]

        var mapOptions = {
            zoom: 13,

            center: new google.maps.LatLng(<%= @user.latitude %>, <%= @user.longitude %>),
            styles:map_style
        };

        map = new google.maps.Map(document.getElementById('map'),
                mapOptions);

        user_marker = new google.maps.Marker({
            position: map.getCenter(),
            map: map,
            icon: 'assets/user.png'
        });
        user_marker.setDraggable (true);

        newPingaMarker = new google.maps.Marker({
            position: map.getCenter(), // this should be the user's location
            map: null,
            title: 'Your current location',
            draggable: true
        });
        newPingaMarker.setAnimation(google.maps.Animation.BOUNCE);

        markers.forEach(function(marker) {
            addMarker(marker);
        });

        var radiusOptions = {
            strokeColor:"#0000FF",strokeOpacity: 1, strokeWeight: 0, fillColor: '#007d53',
            map: map,
            center: map.getCenter(),
            radius: <%= @user.listening_radius * 1609.344 %>
        };
        radiusCircle = new google.maps.Circle(radiusOptions);

        google.maps.event.addListener(user_marker, "dragend", function(event) {
            var point = user_marker.getPosition();
            console.log(point.k);
            map.panTo(point);
                $.ajax({
                    url: '/users/' + <%= @user.id %>,
                    type: 'PUT',
                    data: {latitude: event.latLng.k, longitude: event.latLng.A},
                    dataType: 'json',
                    success: function (data) {
                        updateLists(data);
                        updateMarkers(data.markers);
                    }
                });
        });

        function updateLists(lists) {
            $('.ping_link').remove();
            $('#newest').append(lists.newest);
            $('#nearest').append(lists.nearest);
            $('#soonest').append(lists.soonest);
        }

        function updateMarkers(markers) {
            deleteMarkers();
            markers.forEach(function(marker) {
                addMarker(marker);
            });
        }

        function addMarker(marker_info) {
            var latLng = new google.maps.LatLng(marker_info.latitude, marker_info.longitude);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: marker_info.title,
                icon: marker_info.picture.url,
                infowindow: marker_info.infowindow
            });
            marker.id = marker_info.id;
//            if (marker.icon == 'assets/active.png') { marker.setAnimation(google.maps.Animation.BOUNCE);}

            var content = marker.infowindow;
            var infowindow = new google.maps.InfoWindow();
            google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                return function() {
                    console.log(marker);
                    closeInfos();
                    infowindow.setContent(content);
                    infowindow.open(map,marker);
                    infos[0]=infowindow;
                    map.panTo(marker.position)
                };
            })(marker,content,infowindow));
            pingaMarkers.push(marker);
        }

        function closeInfos(){

            if(infos.length > 0){

                /* detach the info-window from the marker ... undocumented in the API docs */
                infos[0].set("marker", null);

                /* and close it */
                infos[0].close();

                /* blank the array */
                infos.length = 0;
            }
        }

        // Sets the map on all markers in the array.
        function setAllMap(map) {
            for (var i = 0; i < pingaMarkers.length; i++) {
                pingaMarkers[i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setAllMap(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {
            setAllMap(map);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            clearMarkers();
            pingaMarkers = [];
        }

        $("#slider").slider(
                {
                    value: 1.0,
                    min: 0.25,
                    max: 10,
                    step: 0.25,
                    slide: function(event, ui) {
                        $("#slider-value").html(ui.value);
                    }
                }
        );
        $("#slider-value").html($('#slider').slider('value'));
        $( "#slider" ).on( "slidestop", function( event, ui ) {
            $.ajax({
                url: '/users/' + <%= @user.id %>,
                type: 'PUT',
                data: {listening_radius: ui.value},
                dataType: 'json',
                success: function (data) {
                    updateLists(data);
                    updateMarkers(data.markers);
                }
            });
        } );

        window.setInterval(function(){
            var p = user_marker.position;
            radiusCircle.setCenter(new google.maps.LatLng(p.lat(),p.lng()));
            var radius_in_miles = $('#slider').slider('value')
            radiusCircle.setRadius(radius_in_miles * 1609.344);
        }, 50);

        $(document).on('click', '#home', function(event) {
            event.preventDefault();
            showList();
        });

        $(document).on('click', '.ping_link', function(event){
            event.preventDefault();
            showShow(this.id);
        });

        $(document).on('click', '#new_pinga', function(event){
            event.preventDefault();
            showNew();
        });

        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };









        function showNew() {
            newPingaMarker.setPosition(user_marker.position);
            newPingaMarker.setAnimation(google.maps.Animation.BOUNCE);
            closeInfos();
            $('#show').css('display', 'none');
            $('#index_list').css('display', 'none');
            $('#new').css('display', 'block');
            user_marker.setDraggable (false);
            newPingaMarker.setMap(map);
        }

        function showList() {
            newPingaMarker.setMap(null);
            closeInfos();
            $('#show').css('display', 'none');
            $('#new').css('display', 'none');
            $('#index_list').css('display', 'block');
            user_marker.setDraggable (true);
            map.panTo(user_marker.getPosition());

        }

        function showShow(id) {
            newPingaMarker.setMap(null);
            user_marker.setDraggable (true);
            console.log(findMarkerById(id));
            var marker = findMarkerById(id);
            var infowindow = new google.maps.InfoWindow();
            var content = marker.infowindow;
            closeInfos();
            infowindow.setContent(content);
            infowindow.open(map,marker);
            infos[0]=infowindow;
            map.panTo(marker.position);
            $.ajax({
                url: '/pingas/' + id,
                type: 'GET',
                success: function (data) {
                    $("#show").html(data.show);
                    $('#show').css('display', 'block');
                    $('#index_list').css('display', 'none');
                    $('#new').css('display', 'none');

                }
            });

        }

        function findMarkerById(id) {
            for(var index = 0; index < pingaMarkers.length; index++)
            {
                if (pingaMarkers[index].id == id)
                {
                    return pingaMarkers[index];
                }
            }
        }


//        CREATE PINGA STUFF

        $(document).on("click", ".submit", function(event){
            event.preventDefault();
            $("#errors").empty();
            var title = $('input[name="pinga[title]"]').val();
            var description = $('textarea[name="pinga[description]"]').val();
            var address = $('input[name="pinga[address]"]').val();
            var startTime = $('#pinga_start_time').val();
            if (title === ""){
                $('#errors').append("<li>Title is a mandatory field.</li>")
            }
            if (description === ""){
                $('#errors').append("<li>Description is a mandatory field.</li>")
            }
            if (address === "") {
                $('#errors').append("<li>Event address is a mandatory field.</li>")
            }
            if (startTime === ""){
                $('#errors').append("<li>Please select a start time for your event.</li>")
            }

            if ($("#errors").children().size() === 0){
                data = $('form').serializeObject();
                console.log(data);
                $.ajax({
                    url: '/pingas',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        console.log("ajax success");
                        $.ajax({
                            url: '/users/' + <%= @user.id %>,
                            type: 'PUT',
                            success: function (data) {
                                updateLists(data);
                                updateMarkers(data.markers);
                                showList();
                            }
                        });

                    }
                })
            }
        });

        var geocoder = new google.maps.Geocoder();

        google.maps.event.addListener(newPingaMarker, 'dragend', function() {
            var latLng = newPingaMarker.getPosition();
            geocoder.geocode({'latLng': latLng}, function(results, status) {
                $('#autocomplete').val(results[0].formatted_address);
            });
        });

        autocomplete = new google.maps.places.Autocomplete(
                (document.getElementById('autocomplete')),
                { types: ['geocode'] }
        );

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            map.panTo(place.geometry.location);
            map.setZoom(13);
            newPingaMarker.setPosition(place.geometry.location);
            newPingaMarker.setVisible(true);
        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = new google.maps.LatLng(
                        position.coords.latitude, position.coords.longitude);
                autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
                        geolocation));
            });
        };

        google.maps.event.addListener(newPingaMarker, 'click', function() {
            map.setZoom(13);
            map.setCenter(newPingaMarker.getPosition());
        });
    }

</script>