<%= form_for @pinga do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description, size: "60x12" %>
  <div id="locationField">
  <input id="autocomplete" placeholder="Enter your address"
         onFocus="geolocate()" type="text" name="address"></input>
  </div>
  <%= f.label :start_time %>
  <%= f.datetime_local_field :start_time %> <!-- datetime object -->
  <%= f.label :end_time %>
  <%= f.datetime_local_field :end_time %>
  <%= f.submit "Create" %>
<% end %>

<!-- status: defaults to 'pending' unless start time is now. lat long are auto generated -->