<li class="ping ping_link <%= pinga.category.title %> <%= pinga.status %>" id="<%= pinga.id.to_s %>">
  <div class="ping_title">
    <%= image_tag pinga.status + '.png' %>
    <p><%= pinga.title %></p>
    <p><%= @user.distance(pinga) %> mi</p>
    <% if pinga.status == "pending" %>
        <p><%= start_time(pinga) %></p>
    <% end %>
  </div>
</li>