<div class="index_list" id="index_list">
  <div id="format">
    <% @user.user_categories.each do |uc| %>
        <%= label_tag(uc.category.title, uc.category.title, class:"styled-label") do %>
          <%= check_box_tag(uc.category.title, "1", !(uc.listening_status), {id: uc.category.title}) %>
          <span><%= uc.category.title.downcase %></span>
        <% end %>
    <% end %>
  </div>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">newest</a></li> <!--Nearest Pings-->
      <li><a href="#tabs-2">nearest</a></li> <!--Newest Pings-->
      <li><a href="#tabs-3">starting soon</a></li>
    </ul>
    <div class="scroll" id="tabs-1">
      <ul id="newest" class="ping_list">
          <%= render partial: "list", locals: {list: @pingas_by_received_time, main_list: true } %>
      </ul>
    </div>
    <div class="scroll" id="tabs-2">
      <ul id="nearest" class="ping_list">
          <%= render partial: "list", locals: {list: @pingas_by_distance, main_list: true } %>
      </ul>
    </div>
    <div class="scroll" id="tabs-3">
      <ul id="soonest" class="ping_list">
          <%= render partial: "list", locals: {list: @pingas_by_start_time, main_list: true } %>
      </ul>
    </div>
  </div>
  <%= link_to "Create Ping!", new_pinga_path, 'class' => 'button', 'id' => 'new_pinga_button' %>

</div>
<div class="content" id="show" style="display: none;">
    <%= render partial: "show", locals: {pinga: @pinga} %>
</div>

<div class="content" id="new" style="display: none;">
    <%= render partial: "new", locals: {pinga: @pinga} %>
</div>

<div class="content" id="show_user" style="display: none;">
  <%= render partial: "users/show", locals: {user: @user} %>
</div>
