<div class="container" style='width: 1100px; height: 520px;'> 

	<div class="map">
		<%= render partial: "shared/map" %>
	</div>
	
	<div class="index_list">
		<div id="index header">
			<h2>Discover Pings!</h2>
		</div>

		<div id="format">
		  <input type="checkbox" id="food"><label for="food">Food</label>
		  <input type="checkbox" id="social"><label for="social">Social</label>
		  <input type="checkbox" id="sports"><label for="sports">Sports</label>
		  <input type="checkbox" id="entertainment"><label for="entertainment">Entertainment</label>
		  <input type="checkbox" id="deals"><label for="deals">Deals</label>
		</div>

		<div id="tabs">
		  <ul>
		    <li><a href="#tabs-1">Nearest Pings</a></li>
		    <li><a href="#tabs-2">Newest Pings</a></li>
		    <li><a href="#tabs-3">Starting Soonest</a></li>
		  </ul>
		  <div class="scroll" id="tabs-1">
		    <ul class="ping_list">
					<% @pingas_by_distance.each do |pinga| %>
						<%= render partial: "list_item", locals: {pinga: pinga} %>
					<% end %>
				</ul>
		  </div>
		  <div class="scroll" id="tabs-2">
		    <ul class="ping_list">
					<% @pingas_by_received_time.each do |pinga| %>
						<%= render partial: "list_item", locals: {pinga: pinga} %>
					<% end %>
				</ul>
		  </div>
		  <div class="scroll" id="tabs-3">
		    <ul class="ping_list">
					<% @pingas_by_start_time.each do |pinga| %>
						<%= render partial: "list_item", locals: {pinga: pinga} %>
					<% end %>
				</ul>
		  </div>
		</div>
  	<h3><%= link_to "Create a Ping!", new_pinga_path, 'data-no-turbolink' => true %></h3>
	</div>	
</div>

<%= content_for :page_script do %>
  <%= javascript_include_tag "index" %>
<% end %>