<div class="map">
  <div style='width: 520px;'>
    <div id="pinga-show-map" style='width: 520px; height: 550px;'></div>
  </div>
</div>

<div class="content">
  <h2><%= @pinga.title%></h2>
  <p>Description <%= @pinga.description%></p>
  <p>Address <%= @pinga.address%></p>
  <p>Start Time <%= @pinga.start_time%></p>
  <p>End Time <%= @pinga.end_time%></p>
  <p>PingIt Creator <%= @pinga.creator.name%></p>
  <p id="pingit-coords" hidden><%= {lat: @pinga.latitude, lng: @pinga.longitude }.to_json %></p>

  <% if @pinga.creator_id == session[:user_id] %>
    <%= link_to "Edit this PingIt", edit_pinga_path(@pinga) %>
    <%= link_to "Delete this PingIt", pinga_path(@pinga), method: :delete %>
  <% end %>
</div>