<!DOCTYPE html>
<html>
<head>
  <title>Ping</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= yield %>
  <div id="logout"><%= link_to "Logout", signout_path,  method: :delete, id: "sign_out" %></div>
<% else  %>
  <%= render partial: "shared/login" %>
<% end %>

</body>
</html>
