<!DOCTYPE html>
<html>
	<head>
	  <title>Ping</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places,geometry"></script>
	</head>
	
	<body>
		<% if current_user %>
		  <%= render partial: "layouts/topnav" %>
		  <%= yield %>
		<% else  %>
		  <%= render partial: "shared/login" %>
		<% end %>
	</body>
</html>
