<!DOCTYPE html>
<html>
	<head>
	  <title>Ping</title>
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places,geometry"></script>
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
    <%= render "layouts/topnav" %>
    <div class="container" style='width: 1100px; height: 520px;'>
        <%= yield %>
        <%= yield :page_script %>
    </div>
    <%= render "layouts/footer" %>
	</body>
</html>
