<!DOCTYPE html>
<html>
<head>
  <title>Ping</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" %>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>
  <%= yield %>
  <div id="logout"><%= link_to "Logout", session_path(User.find(session[:user_id])), method: :delete%></div>
<% else  %>
  <%= render partial: "shared/login" %>
<% end %>

</body>
</html>
